#employee-container {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: rgb(172, 172, 172);
}
/* .employee-container-two {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    text-align: center;

} */